zone "PH_ZONE_NAME_NO_LEADING_DOT" {
    type slave;
    masters  { PH_MASTER_IP; };
    request-ixfr no;
};

acl my_net { 
    PH_RECURSION_FOR_SUBNET;
};

options {
    recursion yes;

    allow-recursion { my_net; };
};
