<% if Zone.count == 0 %>
<div class="row mb-3">
  <div class="col alert alert-success">
    <h4>Getting Started</h4>
    <p>Looks like you don't have any domains set up yet. Click <a href="/domain">here</a> and add your
    first top-level domain.</p>
    <p>You will also need to configure your network to use the DNS server. 
    Log in to your router and set your DNS server as the first entry in the DHCP DNS server list.</p>
  </div>
</div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <h3>Nothing to see here now :)</h3>
  </div>
</div>