
.domain-add-host-field {
  display: inline-block;
  width: auto;
}

.new-record-form {
  display: table;
}

.delete-zone-form {
  display: inline-block;
}

@media (max-width: 575.98px) {
  .domain-view-button {
    margin-bottom: 4px;
  }
}

.rrtype-picker-item {
  display: inline;
}