// Place all the styles related to the qtrace controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(3, 2em);
  grid-template-areas: 
    "mid mid mid mid mid mid mid mid mid mid mid mid mid mid mid mid "
    "qr opcode opcode opcode opcode aa tc rd ra z z z rcode rcode rcode rcode"
    "qdcount qdcount qdcount qdcount ancount ancount ancount ancount nscount nscount nscount nscount arcount arcount arcount arcount"
    ;
  gap: 2px 2px;
  place-items: center;
  place-content: stretch;    
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.header-grid > .badge {
  font-size: 1em;
  padding: 0.3em;
}


.header-mid {
  grid-area: mid;
}

.header-qr {
  grid-area: qr;
}

.header-opcode {
  grid-area: opcode;
}

.header-aa {
  grid-area: aa;
}

.header-tc {
  grid-area: tc;
}

.header-rd {
  grid-area: rd;
}

.header-ra {
  grid-area: ra;
}

.header-z {
  grid-area: z;
}

.header-rcode {
  grid-area: rcode;
}

.header-qdcount {
  grid-area: qdcount;
}

.header-ancount {
  grid-area: ancount;
}

.header-nscount {
  grid-area: nscount;
}

.header-arcount {
  grid-area: arcount;
}

.message-card {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.message-section-header {
  width: auto;
}

.message-card > .card-body > hr {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.message-section-code {
  color: #444;
  font-family: monospace;
}

.trace-col {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}