<div class="col">
  <div class="row">
    <h2><%= "Trace: #{@trace.qname} #{@trace.qtype} #{@trace.qclass}" %></h2>
  </div>

  <div class="row">
    <div class="accordion" id="eventsAccordion">
      <% @events.each do |e| %>
        <%= render e %>
      <% end %>
    </div>
  </div>
</div>