<div class="col trace-col">
  <div class="row">
    <h2><%= "Trace: #{@trace.qname} #{DNS::value_to_rrtype @trace.qtype} #{DNS::value_to_rrclass @trace.qclass}" %></h2>
  </div>

  <div class="row">
    <div class="accordion" id="eventsAccordion">
      <% @events.each do |e| %>
        <%= render e %>
      <% end %>
    </div>
  </div>
</div>