<div class="col">
  <div class="row" align="center">
    <h3 class="mt-3 mb-3">What kind of setup experience do you want?<h3>
  </div>
  <div class="row justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Fast & Easy</h5>
        <p class="card-text">I just want a local DNS server running as fast as possible.</p>
        <a href="#" class="align-self-end btn btn-primary mt-auto">Fast & Easy</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Customized</h5>
        <p class="card-text">I want to set up a local DNS server and am interested in learning what options I can tweak.</p>
        <a href="#" class="align-self-end btn btn-primary mt-auto">Customized</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Advanced</h5>
        <p class="card-text">I already know a lot about DNS servers and want to set up more complicated infrastructure (e.g. a secondary (zone transfer) resolver).</p>
        <a href="#" class="align-self-end btn btn-primary mt-auto">Advanced</a>
      </div>
    </div>
  </div>
</div>