<div class="row mb-5 mt-5">
  <div class="col" align="center">
    <h1>The world's most comfortable local DNS server.</h1>
  </div>
</div>

<div class="row ">
  <div class="col" align="center">
    <h2>Why ComfyDNS?</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col" align="center">
    <p>ComfyDNS gives you a full local DNS resolver with a modern web UI and easy setup.
    Run the container, configure your router/network,
    and visit the web UI. It's that easy.</p>
  </div>
</div>

<div class="row ">
  <div class="col" align="center">
    <h2>Screenshots</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12 mb-3 col-md-3"><img class="w-100" src="/ss1.jpg"></div>
  <div class="col-12 mb-3 col-md-3"><img class="w-100" src="/ss2.jpg"></div>
  <div class="col-12 mb-3 col-md-3"><img class="w-100" src="/ss3.jpg"></div>
  <div class="col-12 mb-3 col-md-3"><img class="w-100" src="/ss4.jpg"></div>
</div>

<div class="row ">
  <div class="col" align="center">
    <h2>Features</h2>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 mb-3 col-md">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Simple UI</h5>
        <p class="card-text">Simple, intuitive DNS configuration. For when you just want to map a hostname to an IP address.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3 col-md">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Easy Deployment</h5>
        <p class="card-text">Built with emphasis on turnkey, fire-and-forget operation. No configuration, no database admin, no babysitting.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3 col-md">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Featureful</h5>
        <p class="card-text">Despite an emphasis on simplicity and low knowledge overhead, internally ComfyDNS is a fully compliant implementation of the RFCs.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3 col-md">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Versus PiHole</h5>
        <p class="card-text">PiHole and ComfyDNS both offer local DNS and ad blocking. The difference is that PiHole is an adblocker that provides local DNS. ComfyDNS is a local DNS server that also supports adblocking. The projects focus on different things.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3 col-md">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Ad Blocking</h5>
        <p class="card-text">Supports both pihole and dnsmasq-format domain name block lists.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col" align="center">
    <h2>Licensing</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col" align="center">
    <p>ComfyDNS is AGPLv3.</p>
  </div>
</div>