<div class="row mb-5 mt-5">
  <div class="col" align="center">
    <h1>The world's most comfortable local DNS server.</h1>
  </div>
</div>

<div class="row ">
  <div class="col" align="center">
    <h2>Why ComfyDNS?</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col" align="center">
    <p>ComfyDNS gives you a fully-standards-compliant DNS server with a modern web UI. 
    It doesn't make any assumptions about how much you know about DNS 
    (unlike B.I.N.D. and other "old school" implementations). Pull a docker image, run the container,
    and visit the web UI. It's that easy.</p>
  </div>
</div>

<div class="row mb-5">
  <div class="col">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Simple UI</h5>
        <p class="card-text">Simple, intuitive DNS configuration. For when you just want to map a hostname to an IP address.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Easy Deployment</h5>
        <p class="card-text">Built with emphasis on turnkey, fire-and-forget operation. No configuration, no database admin, no babysitting.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Featureful</h5>
        <p class="card-text">Despite an emphasis on simplicity and low knowledge overhead, internally ComfyDNS is a fully compliant implementation of the RFCs.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Versus PiHole</h5>
        <p class="card-text">PiHole and ComfyDNS both offer local DNS and ad blocking. The difference is that PiHole is an adblocker that provides local DNS. ComfyDNS is a local DNS server that also supports adblocking. The projects focus on different things.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card feature-card">
      <div class="card-body">
        <h5 class="card-title">Ad Blocking</h5>
        <p class="card-text">Supports both pihole and dnsmasq-format domain name block lists.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col" align="center">
    <h2>Licensing</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col" align="center">
    <p>ComfyDNS is AGPLv3.</p>
  </div>
</div>